
	<div id="container"></div>
	
	<div id="shootStick"></div>

        
	
	<input type="button" id="exitGame" value="Exit" />
	
	
	<h2 id="title">{{title}}</h2>
	<h3 id="score">Score: 0 | Health: 3 | Bullet Power: 0</h3>
	<!-- <h5 id="rotWar">Please Rotate Your Device To Play</h5> -->

	<div id="RotWarBox">

		<h2 id="rotMessage">Please Rotate Your Device To Play</h2>

		<input type="button" id="closeRotWar" value="Do It!" />

	</div>
	
	<!--</div> -->
	
	
	
    <canvas id="canvas"></canvas>
	
	
	<input type="button" id="restartBtn" value="Restart?" />
	
	<input type="button" id="play" value="Start" />

	<input type="button" id="highscore" value="Highscore" />

	<input type="button" id="desktopOptions" value="Options" />
	
	
	<h4 id="MoveStickInfo">Move</h4>
	<h4 id="ShootStickInfo">Shoot</h4>		



<!-- <joystick></joystick> -->