
	<div id="container"></div>
	
	<div id="shootStick"></div>

        
	
	<div id="rest">
	<input type="button" id="RG" value="Exit" />
	</div>
	
	
	<h2 id="title">Project Fun</h2>
	<h3 id="score">Score: 0 | Health: 3 | Bullet Power: 0</h3>
	<!--<h5 id="rotWar">Please Rotate Your Device To Play</h5>-->

	<div id="RotWarBox">

		<h2 id="rotMessage">Please Rotate Your Device To Play</h2>

		<input type="button" id="closeRotWar" value="Do It!" />

	</div>
	
	<!--</div> -->
	
	
	
        <canvas id="canvas"></canvas>
	
	
	<div id="DL">
	<input type="button" id="dwnload" value="Add To Home Screen" />
	</div>
	
	<div id="restartDiv">
		<input type="button" id="restartBtn" value="Restart?" />
	</div>
	
	<div id="pDiv">
	<input type="button" id="play" value="play" />
	</div>

	<div id="shootWrap">
	<input type="button" id="shootButton" value="shot" />
	</div>
	
	
	<h3 id="MoveStickInfo">Move</h3>
	<h3 id="ShootStickInfo">Shoot</h3>		



<joystick></joystick>