<div *ngIf="isLoaded === true">
	
	<div id="container"></div>
	
	<div id="shootStick"></div>

	<img id="title-image" src="./assets/images/menu/ProjectFunShip-Logo.png" alt="logo" />
	
	
	<input type="button" id="exitGame" value="Exit" />
	
	
	<h2 id="title">{{title}}</h2>
	<h3 id="score">Score: 0 | Health: 3 | Bullet Power: 0</h3>
	
	
	
    <canvas id="canvas"></canvas>
	
	
	<input type="button" id="restartBtn" value="Restart?" />
	
	<input type="button" id="play" value="Start" />

	<input type="button" id="highscore" value="Highscore" />

	<input type="button" id="options" value="Options" />

	<img id="rotate-image" src="./assets/images/menu/RotateDevice.png" alt="rotate device" />
	<h4 id="rotate-image-message">Rotate Your Device</h4>
	
	
	<h4 id="MoveStickInfo">Move</h4>
	<h4 id="ShootStickInfo">Shoot</h4>
	<h4 id="directInfo">Tap and hold the Move and Shoot joystick to activate them. Rotate them in the direction you wish to Move or Shoot.</h4>		

</div>

<!-- <joystick></joystick> -->