
#score{
	
	margin-left: 40%;
	margin-bottom: 1.5%;	
}

#shootStick{
	
	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ;  
	/*--------------This is what activates GPU graphic rendering End------------------*/
	
}

#container{

	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ;  
	/*--------------This is what activates GPU graphic rendering End------------------*/
}

#play{

	width: 55%;
    height: 5em;
    position: absolute;
	top: 50%;
	left: 22%;
    border-radius: 25px;
}

#highscore{

	width: 55%;
    height: 5em;
    position: absolute;
	top: 60%;
	left: 22%;
    border-radius: 25px;
}

#restartBtn{

	width: 55%;
    height: 5em;
    position: absolute;
	top: 50%;
	left: 22%;
    border-radius: 25px;
}

#canvas {
    border:1px solid #000;
	border-radius: 5px;
	margin-left: 13%;
	margin-top: -0.6%;
	/*background-color: #151B54;*/
	background-color: #000;

	/*This is the game stage*/
	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s ;  
	/*--------------This is what activates GPU graphic rendering End------------------*/
}

canvas {
	/*This is the joystick*/
	/*--------------This is what activates GPU graphic rendering------------------*/
	-webkit-transform: translateZ(0); 
	-moz-transform: translateZ(0); 
	-ms-transform: translateZ(0); 
	-o-transform: translateZ(0); 
	transform: translateZ(0); 
	
	-moz-transition: all 1s; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s;  
	/*--------------This is what activates GPU graphic rendering End------------------*/
}

#title{
	text-align: center;
	color: white;
}

#RotWarBox{

	background-color: #cfcfcf;
	width: 75%;
	position: absolute;
	z-index: 15;
	top: 30%;
	left: 12%;
	border-radius: 5px;
}

#rotMessage{

	text-align: center;
	color: darkred;

}


h3{
	text-align: center;
	margin-top: 2.0%;
	color: white;
}


#exitGame{
	
	position: absolute;
    left: 13.7%;
    width: 10%;
    height: 2em;
	top: 3%;
    border-radius: 50px;
}

#rotWar{
	
	color: darkred;
	text-align: center;
	margin-bottom: -.5%;
	margin-top: -4%;
}

#MoveStickInfo{

	position: absolute;
    top: 64%;
	left: 5.5%;
	color: white;
}

#ShootStickInfo{

	position: absolute;
    top: 64%;
	right: 7.5%;
	color: white;
}

@media screen and (max-width: 1000px) {
    #rest{
	
		margin-bottom: -7%;
	
	}
	h2{
		margin-top: -0.1%;
	}

	#canvas{
		margin-top: -3%;
	}
	#score{
	
		margin-left: 28%;
		margin-bottom: 5.5%;
	}

	#MoveStickInfo{

		top: 64%;
		left: 3.5%;
	}
	
	#ShootStickInfo{
	
		top: 64%;
		right: 5%;
	}

	/* #play{
		display: none;
	} */

	/* #canvas{
		display: none;
	} */

}

@media screen and (max-width: 600px) {

	/* #restartDiv{
		
		margin-top: -100%;

	} */
	
	
}



/*this is the full screen size of both me and my bros phone: 450 px*/